body{
    background-color: black;
    color: aqua;
     
       font-family: "Funnel Sans", sans-serif;
       margin: 0px;
}

header{
    border-bottom: double 3px red;
    padding: 25px;
    font-size: 32px;
    color: antiquewhite;
}

section{
    background-color: darkblue;
    padding-bottom: 80px;
    padding-top: 80px;
}
 
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}