body{
    background-color: black;
    color: aqua;
     
       font-family: "Funnel Sans", sans-serif;
       margin: 0px;
}

header{
    border: double 3px red;
    padding: 25px;
}
 
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}